@use "themes/emacs-light-blue-theme" as lb;
@forward "themes/named-colors";

$purple: #b369b2;

/* STYLE */
$bg-color: lb.$fringe-background;
$fg-color: lb.$default-background;
$text-color: lb.$default-foreground;
$selection-color: lb.$region-background;
$highlight-color: lb.$mode-line-buffer-id-overline;
$accent-color: lb.$mode-line-background;
$accent-border: #ffc;
$border-color: #00000015;
$border-radius: 5px;
$border-width: 2px;
$border-style: solid;
$tint-color: #00000025;
$dark-tint-color: #0009;
$default-margin: 5px;
$default-padding: 10px;
$content-side-margin: 15vw;

/* FONTS */

@font-face {
  font-family: IBMPlexMono;
  src: url("/fonts/ibmplexmono/IBMPlexMono-Regular.woff2");
}

@font-face {
  font-family: MotivaSans;
  src: url("/fonts/motivasans/MotivaSansTest-Light.woff2");
}

$sans-font-family: motivasans, sans-serif;
$mono-font-family: ibmplexmono, monospace;
$tiny-font: 0.382em;
$small-font: 0.618rem;
$normal-font: 1rem;
$medium-font: 1.618rem;
$large-font: 2.058rem;
$huge-font: 2.618rem;
$gigantic-font: 4.236rem;

// font-size utility classes map directly to the variables above
$font-sizes: (
  tiny: $tiny-font,
  small: $small-font,
  normal: $normal-font,
  medium: $medium-font,
  large: $large-font,
  huge: $huge-font,
  gigantic: $gigantic-font
);

@each $name, $size in $font-sizes {
  .#{$name}-font {
    font-size: $size;
  }
}

/* MODIFIERS */
@mixin no-decoration {
  color: $text-color;
  text-decoration: none;
}

@mixin rotate-180 {
  position: relative;
  transform: rotate(-180deg);
  display: inline-block;
}
