@use "sass:math";

/* FONTS */
@font-face {
  font-family: IBMPlexMono;
  src: url(/fonts/ibmplexmono/regular.woff2);
}

$font-family: IBMPlexMono, monospace;
$default-font-scale: 1rem;

@function font-ratio($n) {
  $golden-ratio: 1.618;
  $scale: $default-font-scale * math.pow($golden-ratio, $n);
  $cap: 100vw / 16;

  @return min($scale, $cap);
}

@mixin huge-font {
  font-size: font-ratio(3);
}

.huge-font {
  @include huge-font;
}

@mixin largehuge-font {
  font-size: font-ratio(2);
}

.largehuge-font {
  @include largehuge-font;
}

@mixin large-font {
  font-size: font-ratio(1);
}

.large-font {
  @include large-font;
}

@mixin normal-font {
  font-size: font-ratio(0);
}

.normal-font {
  @include normal-font;
}

@mixin small-font {
  font-size: font-ratio(-0.5);
}

.small-font {
  @include small-font;
}

@mixin tiny-font {
  font-size: font-ratio(-1);
}

.tiny-font {
  @include tiny-font;
}

/* STYLE */
$red: #fd0506;
$purple: #b369b2;
$bg-color: #d3d3d3;
$fg-color: #add8e6;
$text-color: #10100b;
$border-color: #00000015;
$border-radius: 5px;
$border-width: 3px;
$border-style: solid;
$accent-color: #eee8aa;
$accent-border: #ffc;
$highlight-color: $red;
$selection-color: #b5ffd1;
$tint-color: #00000035;
$default-margin: 5px;
$default-padding: 10px;
$content-side-margin: 15vw;

:root {
  background-color: $bg-color;
  font-family: $font-family;
  scroll-behavior: smooth;
  color: $text-color;
  margin: 0;
  padding: 0;
}

body {
  @include normal-font;
  margin: $default-margin 25vw;
}
// remove padding on non-desktop views
@media only screen and (max-width: 1500px) {
  body {
    margin: $default-margin 15vw;
  }
}
@media only screen and (max-width: 1000px) {
  body {
    margin: $default-margin;
  }
}

details {
  transition: 0.2s;
}

pre {
  overflow-x: auto;
  scrollbar-width: none;
}

pre > code {
  overflow-x: auto;
}

h1 {
  @include largehuge-font;
  line-height: 1;
}

h2 {
  @include large-font;
  line-height: 1;
}

h3 {
  @include normal-font;
  line-height: 1;
}

code {
  color: $purple;
}

body > div {
  border-radius: $border-radius;
  background-color: $fg-color;
  margin: $default-margin;
  border-color: $border-color;
  border-style: $border-style;
  border-width: $border-width;
  padding: $default-padding;
}

ul {
  list-style-type: square;
}

/* MODIFIERS */
@mixin no-decoration {
  color: $text-color;
  text-decoration: none;
}

@mixin rotate-180 {
  position: relative;
  transform: rotate(-180deg);
  display: inline-block;
}

.rotate-180 {
  @include rotate-180;
}

@mixin right-align-text {
  text-align: right;
}

@mixin left-align-text {
  text-align: left;
}

@mixin center-align-text {
  text-align: center;
}

@mixin justify-text {
  text-align: justify;
}

a,
.hoverable {
  border-color: transparent;
  border-style: $border-style;
}

a:hover,
.hoverable:hover {
  border-color: $tint-color;
  cursor: pointer;
}

/* IDS */
#title-title {
  @include huge-font;
}

#title-text {
  @include no-decoration;
}

#title-cursor {
  animation: blink 1s step-start infinite;
  color: transparent;
}

#subtitle {
  font-size: max(min(calc(font-ratio(3) - 1em), font-ratio(1)), 1em);
}

#subsubtitle {
  @include normal-font;
  @include right-align-text;

  margin-bottom: 0;
}

.flavor-text {
  @include normal-font;
  @include right-align-text;

  margin-bottom: 0;
}

#content > :first-child {
  margin-top: 0;
}

#content > p {
  padding-left: $default-padding;
  padding-right: $default-padding;
}

/* ANIMATIONS */
@keyframes blink {
  0%,
  50% {
    color: $highlight-color;
  }

  51%,
  100% {
    color: transparent;
  }
}

/* FOOTER */
$footer-font-size: font-ratio(1.2);
$footer-height: calc($footer-font-size + env(safe-area-inset-bottom, 0));
$footer-top: calc($footer-height + 4px);

#footer {
  border-radius: 0;
  border-width: 2px 0 0;
  border-color: $accent-border;
  background-color: $accent-color;
  padding: 0 0 2px;
  margin: 0;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 100vw;
  font-size: $footer-font-size;
  line-height: 1;
  height: $footer-height;
  z-index: 1;
}

#footer-bottom-spacer {
  height: $footer-height;
  border-radius: 0;
  padding: 2px;
  margin: 2px;
  border-width: 0;
  border-color: transparent;
  background-color: transparent;
  color: transparent;
}

#footer-bottom-text {
  @include right-align-text;
  @include small-font;

  margin: 0;
}

#footer-bottom-text > a {
  @include no-decoration;
}

#nav {
  margin: 0 $footer-font-size;
  padding: 0;
}

#nav-toggler-label {
  appearance: auto;
  cursor: pointer;
  border-color: $highlight-color;
  border-style: solid none;
  border-width: 1px 0;
  display: inline-block;
}

#nav-toggler-button {
  display: none;
}

#nav-toggler-button:checked ~ #nav-menu {
  display: block;
}

#nav-menu {
  display: none;
  background-color: $fg-color;
  margin: 0;
  width: 100vw;
  position: fixed;
  bottom: $footer-top;
  left: 0;
  right: 100vw;
  padding: 0;
  border-color: $accent-color;
  border-style: $border-style none none none;
  border-width: $footer-height / $footer-font-size;
  box-shadow: 0 -9px 9px $tint-color;
  z-index: -1;
}

#nav-menu * {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: $text-color;
}

#nav-menu > ul {
  list-style-type: none;
  width: 100vw;
}

#nav-menu > ul > li {
  padding: 2px $default-padding;
  border-color: transparent;
}

#nav-menu > ul > li:hover {
  background-color: $selection-color;
}

#nav-menu > ul > li > a {
  width: 100vw;
  display: block;
  border-color: transparent;
  color: $purple;
}

#nav-scroll-progress {
  @include no-decoration;
}
