@use "sass:math";
@import "shared";
@import "file-head";

/* ELEMENTS */
:root {
  background-color: $bg-color;
  font-family: $mono-font-family;
  scroll-behavior: smooth;
  color: $text-color;
  margin: 0;
  padding: 0;
}

::selection {
  color: inherit;
  background: $selection-color;
}

body {
  font-size: $normal-font;
  margin: $default-margin 25vw;
}

// remove padding on non-desktop views
@media only screen and (width <= 1600px) {
  body {
    margin: $default-margin 15vw;
  }
}

@media only screen and (width <= 1000px) {
  body {
    margin: $default-margin;
  }
}

pre {
  overflow-x: auto;
}

pre > code {
  overflow-x: auto;
}

h1 {
  font-size: $large-font;
  line-height: 1;
}

h2 {
  font-size: $medium-font;
  line-height: 1;
}

h3 {
  font-size: $normal-font;
  line-height: 1;
}

code {
  color: $orchid3;
}

body > div {
  border-radius: $border-radius;
  background-color: $fg-color;
  margin: $default-margin;
  border-color: $border-color;
  border-style: $border-style;
  border-width: $border-width;
  padding: $default-padding;
}

// an element that is transparent initially, then transparency is removed as soon as js loads
.js-element {
  color: transparent !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

/* MODIFIERS */
.rotate-180 {
  @include rotate-180;
}

a,
.hoverable {
  border-color: transparent;
  border-style: $border-style;
}

a:hover,
.hoverable:hover {
  border-color: $tint-color !important;
  cursor: pointer;
}

.zebra-table > tbody > tr:nth-child(even) {
  background-color: $tint-color;
}

td {
  padding-right: 1em;
}

/* IDS */
#title-title {
  font-size: $gigantic-font;
  margin: $default-margin 0;
  font-weight: normal;
}

#title-text {
  @include no-decoration;
}

@media only screen and (width <= 700px) {
  #title-title {
    font-size: $huge-font;
    font-weight: bold;
  }

  #subtitle {
    font-size: $medium-font !important;
    font-style: italic;
  }

  #flavor-text {
    font-size: $normal-font !important;
  }
}

@media only screen and (width <= 500px) {
  #title-title {
    font-size: $medium-font;
  }

  #subtitle {
    font-size: $normal-font !important;
  }

  #flavor-text {
    font-size: $small-font !important;
  }
}

#title-cursor {
  animation: blink 1s step-start infinite;
  color: transparent;
}

#rss-button {
  float: right;
}

#rss-button-img {
  display: block;
  width: $normal-font;
  height: $normal-font;
}

#subtitle {
  @include no-decoration;

  font-size: $large-font;
  margin: $default-margin 0;
  font-weight: normal;
}

#flavor-text {
  @include no-decoration;

  text-align: right;
  font-size: $medium-font;
  font-weight: normal;
  margin: 0;
}

/* CONTENT */

#content > :first-child {
  margin-top: 0;
}

#content > p {
  padding-left: $default-padding;
  padding-right: $default-padding;
}

.content-image {
  text-align: center;
}

.content-image > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 35vh;
  max-width: 100%;
}

/* ANIMATIONS */
@keyframes blink {
  0%,
  50% {
    color: $highlight-color;
  }

  51%,
  100% {
    color: transparent;
  }
}

/* FOOTER */
$footer-font-size: $medium-font;
$footer-height: calc(
  $footer-font-size + env(safe-area-inset-bottom, 0) + 2 * $border-width
);
$footer-top: calc($footer-height + 2px);

#footer {
  display: grid;
  grid-template-columns: max-content max-content max-content auto;
  grid-template-rows: 2px auto 2px;
  column-padding: $footer-font-size;
  background-color: $accent-color;
  padding: 0 0 2px;
  border-radius: 0;
  border-width: 0;
  margin: 0;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 100vw;
  font-size: $footer-font-size;
  line-height: 1;
  height: $footer-height;
  z-index: 1;
  > span {
    border-width: 0;
  }
  > * {
    border-style: $border-style;
    border-width: $border-width;
    border-color: transparent;
    margin: 0;
    padding: 0;
  }

  > .accent {
    background-color: $highlight-color;
  }

  > .normal {
    background-color: $accent-border;
  }
}

#footer-bottom-spacer {
  height: $footer-height;
  border-radius: 0;
  padding: 2px;
  margin: 2px;
  border-width: 0;
  border-color: transparent;
  background-color: transparent;
  color: transparent;
}

#footer-bottom-text {
  text-align: right;
  font-size: $small-font;
  margin: 0;
}

#footer-bottom-text > a {
  @include no-decoration;
}

#nav-toggler {
  font-size: calc($footer-font-size - 4px);
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-family: inherit;
  display: inline-block;
}

#nav-menu {
  background-color: $fg-color;
  margin: 0;
  position: fixed;
  inset: auto 100vw $footer-top 0;
  padding: 0;
  border-color: $accent-color;
  border-style: $border-style none none none;
  border-width: $footer-height / $footer-font-size;
  box-shadow: 0 -9px 9px $tint-color;
  z-index: -1;
}

#nav-menu * {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: $text-color;
}

#nav-menu > ul {
  list-style-type: none;
  width: 100%;
}

#nav-menu > ul > li {
  padding: 2px $default-padding;
  border-color: transparent;
}

#nav-menu > ul > li:hover {
  background-color: $selection-color;
}

#nav-menu > ul > li > a {
  width: 100vw;
  display: block;
  border-color: transparent !important;
  color: $orchid3;
}

#nav-scroll-progress {
  @include no-decoration;
}
