{% extends "root.html" %}

{% block body %}
{{ <body.base /> }}
{% endblock body %}

{% block content %}

{{ <title title={section.title} subtitle={section.description} subsubtitle={section.extra.subsubtitle} flavor_id={section.extra.flavor_id} show_rss={section.extra.show_rss} /> }}

<div id="content">
  {{ section.content | safe }}

{% for year, posts in section.pages | sort(attribute="year") | group_by(attribute="year") %}
    <h2>* {{ year }}</h2>

    {% for post in posts | sort(attribute="date") | reverse %}
    <p>
      <a href="{{ post.permalink }}">{{ post.title }}</a>
      {% if post.description %} - {{ post.description }}{% endif %}</p>
    {% endfor %}
{% endfor %}
</div>

{{ <footer name={section.extra.footer_name} /> }}
{% endblock content %}
