<!doctype html>{#- -#}
<html>{#- -#}
  <body>{#- -#}
    <style>{#- -#}
      *{:hover{color:#ddd}font-family:monospace;background-color:#123;color:#abc;text-decoration:none}{#- -#}
      h1>a{color:#faf}{#- -#}
      body{height:100%;margin:0}{#- -#}
      f{display:flex;align-items:center;justify-content:center;height:100vh;margin:auto}{#- -#}
      #a{display:none;position:fixed;color:#777}{#- -#}
    </style>{#- -#}
    <a id=a href=https://1kb.club>&lt;1kB</a>{#- -#}
    <f>{#- -#}
      <h1><a href=mailto:me@theokrueger.dev>theokrueger</a></h1>{#- -#}
      <ul>{#- -#}
	<li><a href=/posts>blog</a></li>{#- -#}
	<li><a href=/micro>thoughts</a></li>{#- -#}
	<li><a href=https://github.com/theokrueger>git</a></li>{#- -#}
     </ul>{#- -#}
    </f>{#- -#}
    <script type=module>{#- -#}
      {#- move the element across the screen -#}
      {#-  -#}
      let M=Math,P=M.PI,s=a.style,W=window.screen,{#- alias -#}
        r=a.getBoundingClientRect.bind(a),{#- callable -#}
        x=0,y=0,{#- loop vars -#}
        h=P/4*M.random()+P*5/8,X=M.sin(h),Y=M.cos(h);{#- movement props -#}
      s.display='block';{#- -#}
      for(;;){ {#- -#}
        let n=W.width,m=W.height,t=r();{#- -#}
        x=x+X;{#- -#}
        y=y+Y;{#- -#}
        x>n-t.width||x<0?X=-X:0;{#- -#}
        y>m-t.height||y<0?Y=-Y:0;{#- -#}
        s.top=y+'px';{#- -#}
        s.left=x+'px';{#- -#}
        await new Promise(r=>setTimeout(r,8));{#- -#}
      }{#- -#}
    </script>{#- -#}
  </body>{#- -#}
</html>{#- -#}
