{% extends "root.html" %}
{% block body %}
{{ <body.micro /> }}
{% endblock %}


{% block content %}
<div id="acl">
  {{ <micro.nav /> }}
  <div id="acl-body">
    {% set t = page.title | safe | split(pat=" ") %}
    <h1 id="acl-page-title">{% for w in t %} {% if loop.first %} <span class="acl-dark-text">{{ w | safe }}</span>{% else %} {{ w | safe }} {% endif %}{% endfor %}</h1>
    <div id="acl-page-description" style="">{{ page.description | safe }}</div>
    <p id="acl-page-link" style="">
      <a href="{{ page.permalink }}">{{ page.date }}</a> - {% if page.authors %}{{ page.authors | join(pat=" ,") }} {% else %}{{ config.author }}{% endif %}
    </p>
    <hr/>
    <div id="acl-page-content">
      {{ page.content | safe }}
    </div>
  </div>
  {{ <micro.footer badges={false} /> }}
</div>
{% endblock content %}
