{% extends "root.html" %}
{% block head %}
{{ <head.micro /> }}
{% endblock head %}


{% block body %}
<div id="acl-bg-interactive">
  <div id="acl-bg-interactive-tint"></div>
  {% set n = 60 %}
  <svg id="acl-bg-interactive-grid" viewBox="0 0 {{n}} {{n}}" xmlns="http://www.w3.org/2000/svg">
    {% for i in range(end=n) %}
    {% set sty = 'style="animation-duration: ' ~ (60*i/n) | str ~  's; animation-delay:' ~ (10*i/n) | str ~ 's;"' %}
    <line x1="{{i}}" y1="{{0}}" x2="{{i}}" y2="{{n}}" {{ sty | safe }}/>
    <line x1="{{0}}" y1="{{i}}" x2="{{n}}" y2="{{i}}" {{ sty | safe }} />
  {% endfor %}
  </svg>
</div>
{% block content %}
<div id="acl">
  {{ <micro.nav/> }}
  <!-- body -->
  <div id="acl-body">
    {% set t = (page?.title or section?.title) | safe | split(pat=" ") %}
    <h1 id="acl-page-title">
      {% for w in t %}
        {% if loop.first %}
          <span class="acl-dark-text">{{ w | safe }}</span>
        {% else %}
          {{ w | safe }}
        {% endif %}
      {% endfor %}
    </h1>

    <div id="acl-page-description" style="">
      {{ (section?.description| safe) or (page?.description | safe) }}
    </div>

    {% if page and not page.extra.exclude_author %}
    <p id="acl-page-link" style="">
      <a href="{{ page.permalink }}">{{ page.date }}</a> - {% if page.authors %}{{ page.authors | join(pat=", ") }} {% else %}{{ config.author }}{% endif %}
    </p>
    {% endif %}

    <hr/>

    <div id="acl-page-content">
      {{ (section?.content | safe) or (page?.content | safe) }}
      {% if section and section.extra.show_section_listing %}
        {% for year, posts in section.pages | sort(attribute="year") | reverse | group_by(attribute="year") %}
          <h2>
  	    {{ year }}
  	    <span class="acl-dark-text" style="float: right">{{ posts | length }}</span>
  	  </h2>
          {% for post in posts | sort(attribute="date") | reverse %}
            <div style="padding: 0 1%;">
  	      {{ post.date | date(format="%m.%d") }}:
              <a href="{{ post.permalink }}">{{ post.title | safe }}</a>
              {% if post.description %} - {{ post.description | safe }}{% endif %}
  	    </div>
          {% endfor %}
        {% endfor %}
      {% endif %}
    </div>

  </div>
  {{ <micro.footer badges={(section and true) or false} /> }}
</div>
{% endblock content %}
{% endblock body %}
