{% extends "root.html" %}
{% block body %}
{{ <body.micro /> }}
{% endblock %}


{% block content %}
<div id="acl">
  <!-- navigation -->
  <div id="acl-nav">
    <a href="/micro/"><img src="/micro/acl/logo_header.gif"></a>
  </div>
  <div id="acl-profile">
    {% set t = page.title | split(pat=" ") %}
    <h1 id="acl-page-title">{% for w in t %} {% if loop.first %} <span class="acl-dark-text">{{ w }}</span>{% else %} {{ w }} {% endif %}{% endfor %}</h1>
    <div id="acl-page-description" style="">{{ page.description }}</div>
    <p id="acl-page-link" style="">
      <a href="{{ page.permalink }}">{{ page.date }}</a> - {% if page.authors %}{{ authors | join(pat=" ,") }} {% else %}{{ config.author }}{% endif %}
    </p>
    <hr/>
    <div id="acl-page-content">
      {{ page.content | safe }}
    </div>
  </div>
</div>
{% endblock content %}
