{% extends "root.html" %}
{% import "components/mod.html" as macros %}

{% block body %}
{{ body::micro() }}
{% endblock %}

{% block content %}
<!-- site version accessible on mobile and noscript -->
<div id="acl">
  <!-- navigation -->
  <div id="acl-nav">
    <a href="/micro/"><img src="/micro/acl/logo_header.gif"></a>
  </div>
  <!-- profile -->
  <div id="acl-profile">
    <!-- header -->
    <span id="acl-profile-header">
      <!-- left aligned stuff -->
      <span id="acl-pfp-info-flex">
	<!-- pfp -->
	<span id="acl-pfp-container">
	  <img
	    id="acl-pfp-image"
	    src="/micro/acl/pfp.gif"
	  />
	</span>
	<!-- name/bio -->
	<span id="acl-info">
	  <span id="acl-info-username">theokrueger</span>
	  <p id="acl-info-bio">button box enthusiast</p>
	</span>
      </span
      <!-- extra -->
      <span id="acl-extra">
	<div id="acl-extra-level">
	  <span>Micros:</span>
	  <a href="#micros"><em>
	    {{ section.pages | length }}
	  </em></a>
	</div>
	<div id="acl-extra-badge">
	    <noscript>
	      <img src="/micro/acl/badges/icon.gif" />
	    </noscript>
	    <noscript>
	      <text>
		<h4>Icon</h4>
		<p>500 XP</p>
	      </text>
	    </noscript>
	</div>
	<a href="https://theokrueger.atabook.org/" id="acl-extra-button">
	  Guestbook↗
	</a>
      </span>

    </span>
    <!-- body -->
    <div id="acl-profile-body">
      {{ section.content | safe }}

      <h2 id="micros">All Micros</h2>
      <span id="acl-all-micros">
      {% set posts_by_year = section.pages | group_by(attribute="year") %}
      {% set_global years = [] %}
      {% for year, ignored in posts_by_year %}
          {% set_global years = years | concat(with=year) %}
      {% endfor %}
      {% for year in years | reverse %}
        {% set posts = posts_by_year[year] %}
	<details>
          <summary>{{ year }}</summary>
          {% for post in posts %}
	  {% set d = post.date | split(pat="-") %}
          <p>
	    {{ d[1] }}.{{ d[2] }}:
            <a href="{{ post.permalink }}">{{ post.title }}</a>
            {% if post.description %} - {{ post.description }}{% endif %}</p>
          {% endfor %}
        </details>
      {% endfor %}
      </span>
    </div>
  </div>
  <!-- badges -->
  <div id="acl-badges">
    {# 80x15 #}
    {% set badges = [
      "test|https://example.com/",
      "test|https://example.com/",
      "test|https://example.com/",
      "test|https://example.com/",
      "test|https://example.com/",
      "test|https://example.com/",
      "test|https://example.com/",
      "test|https://example.com/",
      "test|https://example.com/",
      "test|https://example.com/",
      "test|https://example.com/",
      "test|https://example.com/",
      "test|https://example.com/",
      "test|https://example.com/",
      "test|https://example.com/",
      "test|https://example.com/",
      "test|https://example.com/",
      "test|https://example.com/",
      "test|https://example.com/",
      "test|https://example.com/",
      "test|https://example.com/",
      "test|https://example.com/",
      "test|https://example.com/",
      "test|https://example.com/",
    ] %}
    {% for txt in badges %}
      {% set a = txt | split(pat="|") %}
      {% if a[1] %}<a href="{{ a[1] }}" target="_blank">{% endif %}
      <img src="/micro/badges/80x15/{{ a[0] }}.gif" />
      {% if a[1] %}</a>{% endif %}
    {% endfor %}
  </div>
</div>
{% endblock content %}
