{% extends "root.html" %}
{% import "components/mod.html" as macros %}

{% block body %}
{{ body::micro() }}
{% endblock %}

{% block content %}
<!-- site version accessible on mobile and noscript -->
<div id="acl">
  <!-- navigation -->
  <div id="acl-nav">
    <a href="/micro/"><img src="/micro/acl/logo_header.gif"></a>
  </div>
  <!-- profile -->
  <div id="acl-profile">
    <!-- header -->
    <span id="acl-profile-header">
      <!-- left aligned stuff -->
      <span id="acl-pfp-info-flex">
	<!-- pfp -->
	<span id="acl-pfp-container">
	  <img
	    id="acl-pfp-image"
	    src="/micro/acl/pfp.gif"
	  />
	</span>
	<!-- name/bio -->
	<span id="acl-info">
	  <span id="acl-info-username">theokrueger</span>
	  <p id="acl-info-bio">button box enthusiast</p>
	</span>
      </span
      <!-- extra -->
      <span id="acl-extra">
	<div id="acl-extra-level">
	  <span>Posts:</span>
	  <a href="#posts"><em>
	    {{ section.pages | length }}
	  </em></a>
	</div>
	<div id="acl-extra-badge">
	    <noscript>
	      <img src="/micro/acl/badges/icon.gif" />
	    </noscript>
	    <noscript>
	      <text>
		<h4>Icon</h4>
		<p>500 XP</p>
	      </text>
	    </noscript>
	</div>
	<a href="https://theokrueger.atabook.org/" id="acl-extra-button">
	  Guestbook↗
	</a>
      </span>

    </span>
    <!-- body -->
    <div id="acl-profile-body">
    </div>
  </div>
</div>

{{ section.content | safe }}

{#
<div id="content">


{% set posts_by_year = section.pages | group_by(attribute="year") %}
{% set_global years = [] %}
{% for year, ignored in posts_by_year %}
    {% set_global years = years | concat(with=year) %}
{% endfor %}
{% for year in years | reverse %}
    {% set posts = posts_by_year[year] %}
    <h2>* {{ year }}</h2>

    {% for post in posts %}
    <p>
      <a href="{{ post.permalink }}">{{ post.title }}</a>
      {% if post.description %} - {{ post.description }}{% endif %}</p>
    {% endfor %}
    </ul>
{% endfor %}
</div>
#}
{% endblock content %}
