@use "../shared" as s;

// fonts
$font-family: motivasans, sans-serif;

// acl colors
$cs-heading: #000;
$cs-text: #fff;
$cs-dark-text: rgb(196 202 190);
$cs-fg2: #15170f;
$cs-fg: #282d22;
$cs-bg: #4c5844;
$cs-light-green: #626d5c;
$cs-dark-green: #25291b;
$cs-link: rgb(191 186 80);
$cs-link-hover: rgb(147 143 60);

// acl properties
$cs-border-radius: 4px;
$cs-col-width: 240px;
$cs-nav-height: 60px;

// mixins
@mixin acl-gradient {
  background-image: linear-gradient(to top left, $cs-fg, $cs-light-green);
}

// classes
.acl-dark-text {
  color: $cs-dark-text;
}

.acl-button:hover {
  background-image: unset !important;
  background-color: $cs-link-hover !important;
  color: $cs-text !important;
  > a {
    color: $cs-text !important;
  }
}

// elements
body {
  // TODO figure out how to get rid of this
  background-color: $cs-bg;
}

pre {
  overflow-x: auto;
}

pre > code {
  overflow-x: auto;
}

hr {
  color: $cs-link;
}

// desktop
#acl {
  font-family: $font-family;
  font-size: 13px;
  font-smooth: never;
  -webkit-font-smoothing: none;
  color: $cs-text;
  background-color: $cs-bg;

  *::selection {
    color: $cs-text;
    background: $cs-link;
  }

  *a {
    color: $cs-link;
    text-decoration: none;
  }

  *a:hover {
    color: $cs-link-hover;
  }

  *code {
    color: s.$purple;
    font-family: s.$font-family;
  }

  *details[open] > *:not(summary) {
    animation: acl-details 0.5s ease-in-out;
  }

  *h2,
  *h3 {
    @include acl-gradient;

    margin: 0;
    padding: 4px;
  }
}

@keyframes acl-details {
  0% {
    opacity: 0;
    max-height: 0;
    transform: translateY(-1em);
  }

  20% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    max-height: 100em;
  }
}

#acl-nav {
  position: sticky;
  top: 0;
  overflow-x: auto;
  z-index: 1;

  --side-pad: max(calc((100vw - 768px) / 2), 0px);

  display: flex;
  align-items: center;
  background-color: $cs-heading;
  color: $cs-text;
  width: calc(100vw - 2 * var(--side-pad) - 16px * 2);
  height: $cs-nav-height;
  padding: 0 calc(var(--side-pad) + 16px);
}

#acl-nav-message {
  margin-left: 4px;
}

#acl-profile {
  background-color: $cs-fg;
  border-radius: 0 0 $cs-border-radius $cs-border-radius;
}

#acl-badges {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 4px 0;

  > * {
    padding: 2px;
  }
}

#acl-profile,
#acl-badges {
  margin: 0 auto;
  width: 768px;
}

#acl-profile-header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 220px;
}

#acl-pfp-info-flex {
  display: flex;
  align-items: start;
  justify-content: left;
  flex-wrap: wrap;
}

#acl-pfp-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
}

#acl-pfp-image {
  width: 164px;
  height: 164px;
  border: 2px solid $cs-bg;
}

#acl-info {
  margin: 32px 16px 0;
}

#acl-info-username {
  font-size: 32px;
}

#acl-info-bio {
  color: $cs-dark-text;
}

#acl-extra {
  width: $cs-col-width;
  margin: auto 0 auto auto;

  > * {
    max-width: 224px;
  }
}

#acl-extra-level {
  font-size: 24px;

  > * {
    padding: 2px;
  }
}

#acl-extra-badge {
  @include acl-gradient;

  display: grid;
  grid-template-columns: 70px auto;
  width: 100%;
  height: 70px;
  border-radius: $cs-border-radius;

  // extensions like noscript convert noscript tags into span sometimes. bleh.
  > noscript,
  > span {
    display: flex;
    align-items: center;
  }

  > img,
  > noscript > img,
  > span > img {
    width: 58px;
    height: 58px;
    border-radius: $cs-border-radius;
    margin: 6px;
  }

  > text,
  > noscript > text,
  > span > text {
    margin: auto 0;

    > h4 {
      margin: 0;
    }

    > p {
      color: $cs-dark-text;
      margin: 0;
    }
  }
}

#acl-extra-buttons {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 4px;
  width: 100%;
  margin-top: 8px;

  > a {
    @include acl-gradient;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    color: $cs-text;
    border-radius: $cs-border-radius;
  }
}

#acl-extra-rss {
  > img {
    width: 16px;
    height: 16px;
  }
}

#acl-profile-body {
  display: flex;
  flex-flow: row-reverse nowrap;
  align-items: start;
}

#acl-profile-sidebar {
  $thismargin: 16px;

  flex-shrink: 0;
  margin: 0 $thismargin $thismargin 0;
  width: $cs-col-width - $thismargin;

  position: sticky;
  top: $cs-nav-height + 20px;
  > * {
    border-radius: $cs-border-radius;
    background-color: $cs-fg2;
  }

  > h2 {
    border-radius: $cs-border-radius $cs-border-radius 0 0;
  }
}

#acl-profile-sidebar-status {
  margin-bottom: 10px;
  font-size: 16px;
  padding: 4px;
  height: 36px - 8px;
  display: grid;
  align-items: center;
}

#acl-profile-sidebar-links {
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  border-radius: 0 0 $cs-border-radius $cs-border-radius;

  > span {
    border-radius: $cs-border-radius;
    background-color: $cs-fg;
    font-size: 20px;
    padding: 2px;
    margin: 2px;
  }
}

#acl-profile-content {
  > p {
    margin: 8px;
  }

  > h2,
  > h3 {
    border-radius: 0 $cs-border-radius $cs-border-radius 0;
  }
}

#acl-all-micros {
  > details {
    > summary {
      padding-top: 4px;
      font-size: 20px;
    }

    > p,
    > summary {
      margin: 0 4px;
    }

    > p:first-child {
      margin-top: 4px;
    }
  }
}

// desktop only additions
@media screen and (width >= 1200px) {
  #acl-profile-sidebar {
    position: fixed;
    top: auto;
    bottom: auto;
    right: 0;
    transform: perspective(200px) rotateY(-5deg);
    transform-origin: center right;
    transform-style: preserve-3d;
  }
}

// mobile
@media screen and (width <= 767px) {
  #acl-pfp-info-flex > * {
    margin: auto;
    padding: 8px;
  }

  #acl-nav {
    justify-content: center;
  }

  #acl-nav-message {
    display: none;
  }

  #acl-profile,
  #acl-badges {
    width: 95%;
  }

  #acl-profile-header {
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }

  #acl-pfp-image {
    max-width: 164px;
    max-height: 164px;
    object-fit: contain;
  }

  #acl-extra {
    margin: auto;
  }

  #acl-profile-body {
    flex-wrap: wrap;
    align-items: stretch;
  }

  #acl-profile-sidebar {
    width: 98%;
    margin: 4px auto;
  }

  #acl-profile-sidebar-links {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, auto));
    margin: 0;
    grid-auto-flow: row dense;

    > span {
      display: inline-block;
      width: auto;
      height: auto;
      margin: 2px;
    }
  }
}

// post
#acl-page-title {
  margin: 0 2%;
}

#acl-page-description {
  margin: 0 2%;
}

#acl-page-link {
  margin: 0 2%;
}

#acl-page-content {
  margin: 0 2%;

  :first-child {
    margin-top: 0;
  }
}
