@use "sass:color";
@use "../shared" as s;

// fonts
$font-family: motivasans, sans-serif;

// acl colors
$cs-heading: #000;
$cs-text: #fff;
$cs-dark-text: rgb(196 202 190);
$cs-fg2: #15170f;
$cs-fg: #282d22;
$cs-bg: #4c5844;
$cs-light-green: #626d5c;
$cs-dark-green: #25291b;
$cs-link: rgb(191 186 80);
$cs-link-hover: rgb(147 143 60);

// acl properties
$cs-border-radius: 4px;
$cs-col-width: 240px;
$cs-nav-height: 60px;

// mixins
@mixin acl-gradient {
  background-image:
    linear-gradient(
      to bottom right,
      color.adjust($cs-light-green, $alpha: -0.07),
      color.adjust($cs-fg, $alpha: -0.02)
    ),
    url("/img/noise.svg");
  filter: contrast(110%) brightness(95%);
}

// classes
.acl-dark-text {
  color: $cs-dark-text;
}

.acl-button:hover {
  background-image: unset !important;
  background-color: $cs-link-hover !important;
  color: $cs-text !important;

  > a {
    color: $cs-text !important;
  }
}

// desktop
#acl {
  font-family: $font-family;
  font-size: 13px;
  font-smooth: never;
  -webkit-font-smoothing: none;
  color: $cs-text;
  background-color: $cs-bg;
  cursor: url("/micro/acl/cursor-normal.gif"), auto;
  min-height: 100vh;
  width: 100vw;

  ::selection {
    color: $cs-text;
    background: $cs-link;
  }

  a {
    color: $cs-link;
    text-decoration: none;
  }

  p,
  code {
    &:hover {
      cursor:
        url("/micro/acl/cursor-select.gif") 5 7,
        auto;
    }
  }

  a:hover {
    color: $cs-link-hover;
    cursor:
      url("/micro/acl/cursor-hover.gif") 14 0,
      auto;
  }

  code {
    color: s.$purple;
    font-family: s.$mono-font-family;
  }

  details[open] > :not(summary) {
    animation: acl-details 0.5s ease-in-out;
  }

  h2,
  h3 {
    @include acl-gradient;

    margin: 0;
    padding: 4px;
  }

  pre {
    overflow-x: auto;
  }

  hr {
    color: $cs-link;
  }
}

@keyframes acl-details {
  0% {
    opacity: 0;
    max-height: 0;
    transform: translateY(-1em);
  }

  20% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    max-height: 100em;
  }
}

#acl-nav {
  position: sticky;
  top: 0;
  overflow-x: auto;
  z-index: 2;
  display: flex;
  align-items: center;
  padding-left: calc((100% - 768px) / 2 + 16px);
  background-color: $cs-heading;
  color: $cs-text;
  height: $cs-nav-height;
}

#acl-nav-message {
  margin-left: 4px;
}

#acl-body {
  overflow: auto;
  background-color: $cs-fg;
  border-radius: 0 0 $cs-border-radius $cs-border-radius;
}

#acl-badges {
  padding: 0;
  image-rendering: pixelated;

  > span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    > a {
      font-size: 0;
      margin: 2px;
    }
  }
}

#acl-body,
#acl-badges {
  margin: 0 auto 4px;
  width: 768px;
}

#acl-profile-header {
  display: flex;
  flex-wrap: wrap;
  height: 220px - 16px;
  padding-top: 16px;
}

#acl-pfp-info-flex {
  display: flex;
  align-items: start;
  justify-content: left;
  flex-wrap: wrap;
  margin: 0 16px;
  gap: 32px;
}

#acl-pfp-container {
  max-width: 168px;
  align-items: center;
  justify-content: center;
}

#acl-pfp-image {
  width: 100%;
  height: 100%;
  border: 2px solid $cs-bg;
}

#acl-info {
  margin-top: 32px;
}

#acl-info-username {
  font-size: 32px;
}

#acl-info-bio {
  color: $cs-dark-text;
}

#acl-extra {
  width: $cs-col-width;
  margin: auto 0 auto auto;

  > * {
    max-width: 224px;
  }
}

#acl-extra-level {
  font-size: 24px;

  > * {
    padding: 2px;
  }
}

#acl-extra-badge {
  @include acl-gradient;

  display: grid;
  grid-template-columns: 70px auto;
  width: 100%;
  height: 70px;
  border-radius: $cs-border-radius;

  // extensions like noscript convert noscript tags into span sometimes. bleh.
  > noscript,
  > span {
    display: flex;
    align-items: center;
  }

  > img,
  > noscript > img,
  > span > img {
    width: 58px;
    height: 58px;
    border-radius: $cs-border-radius;
    margin: 6px;
  }

  > text,
  > noscript > text,
  > span > text {
    margin: auto 0;

    > h4 {
      margin: 0;
    }

    > p {
      color: $cs-dark-text;
      margin: 0;
    }
  }
}

#acl-extra-buttons {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 4px;
  width: 100%;
  margin-top: 8px;

  > a {
    @include acl-gradient;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    color: $cs-text;
    border-radius: $cs-border-radius;
  }
}

#acl-extra-rss {
  > img {
    image-rendering: pixelated;
    width: 16px;
    height: 16px;
  }
}

#acl-profile-body {
  display: flex;
  flex-flow: row-reverse nowrap;
  align-items: start;
}

#acl-profile-sidebar {
  $thismargin: 16px;

  z-index: 1;
  flex-shrink: 0;
  margin: 0 $thismargin $thismargin 8px;
  width: $cs-col-width - $thismargin;
  position: sticky;
  top: $cs-nav-height + 20px;

  > * {
    border-radius: $cs-border-radius;
    background-color: $cs-fg2;
  }
}

#acl-profile-sidebar-status {
  margin-bottom: 10px;
  font-size: 16px;
  padding: 4px;
  height: 36px - 8px;
  display: grid;
  align-items: center;
}

#acl-profile-sidebar-links {
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;

  > h2 {
    border-radius: $cs-border-radius $cs-border-radius 0 0;
  }

  > a {
    border-radius: $cs-border-radius;
    background-color: $cs-fg;
    font-size: 20px;
    padding: 2px;
    margin: 2px;
  }
}

#acl-profile-content {
  > p {
    margin: 8px;
  }

  > h2,
  > h3 {
    border-radius: 0 $cs-border-radius $cs-border-radius 0;
  }
}

#acl-all-micros {
  > details {
    > summary {
      padding-top: 4px;
      font-size: 20px;
    }

    > p,
    > summary {
      margin: 0 4px;
    }

    > p:first-child {
      margin-top: 4px;
    }
  }
}

// desktop only additions
@media screen and (width >= 1250px) {
  #acl-profile-sidebar {
    position: fixed;
    top: 20%;
    bottom: 80%;
    right: 10px;
    min-width: 256px;
    transform: perspective(200px) rotateY(-5deg);
    transform-origin: center right;
    transform-style: preserve-3d;

    > * {
      outline: 1px solid transparent;
    }
  }
}

// mobile
@media screen and (width <= 767px) {
  #acl-pfp-info-flex {
    justify-content: center;
    gap: 16px;
  }

  #acl-info {
    margin: 0;
    align-self: center;
  }

  #acl-pfp-container {
    align-self: center;
  }

  #acl-nav {
    padding: 0;
    justify-content: center;
  }

  #acl-nav-message {
    display: none;
  }

  #acl-body,
  #acl-badges {
    width: 95%;
  }

  #acl-profile-header {
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 16px;
  }

  #acl-pfp-image {
    max-width: 164px;
    max-height: 164px;
    object-fit: contain;
  }

  #acl-extra {
    margin: 0;
  }

  #acl-profile-body {
    flex-wrap: wrap;
    align-items: stretch;
  }

  #acl-profile-sidebar {
    position: unset;
    width: 98%;
    margin: 4px auto;
  }

  #acl-profile-sidebar-status {
    margin-bottom: 4px;
  }

  #acl-profile-sidebar-links {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, auto));
    margin: 0;
    grid-auto-flow: row dense;

    > span {
      display: inline-block;
      width: auto;
      height: auto;
      margin: 2px;
    }

    > h2 {
      display: none;
    }
  }
}

// post
:is(#acl-page-title, #acl-page-description, #acl-page-link) {
  margin: 0 2%;
}

#acl-page-content {
  margin: 0 2%;

  > h1,
  > h2,
  > h3,
  > pre {
    border-radius: $cs-border-radius;
  }

  :first-child {
    margin-top: 0;
  }

  > img,
  > p > img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
}
