@use "sass:color";
@use "../shared" as s;
@use "../animations" as a;

// fonts
$font-family: motivasans, sans-serif;
$silly-font-family:
  "Comic Sans MS", "Comic Sans", comicsans, "Brush Script MT", cursive,
  sans-serif;
$ticker-font-family: datatype, monospace;

// acl colors
$cs-heading: #000;
$cs-text: #fff;
$cs-dark-text: rgb(196 202 190);
$cs-fg2: #15170f;
$cs-fg: #282d22;
$cs-bg: #4c5844;
$cs-light-green: #626d5c;
$cs-dark-green: #25291b;
$cs-link: rgb(191 186 80);
$cs-link-hover: rgb(147 143 60);

// acl properties
$cs-border-radius: 4px;
$cs-col-width: 240px;
$cs-nav-height: 60px;
$cs-ticker-font-size: 20px;

// mixins
@mixin acl-gradient {
  background-image:
    linear-gradient(
      to bottom right,
      color.adjust($cs-light-green, $alpha: -0.07),
      color.adjust($cs-fg, $alpha: -0.02)
    ),
    url("/img/noise.svg");
  filter: contrast(110%) brightness(95%);
}

body {
  color: $cs-text;
  background-color: $cs-bg;
}

.external-link::after {
  content: url("/img/extlink-light.svg");
  opacity: 0.5;
}

// classes
.acl-dark-text {
  color: $cs-dark-text;
}

.acl-button {
  transition: all 0.2s ease;

  &:hover {
    background-image: unset !important;
    background-color: $cs-link-hover !important;
    color: $cs-text !important;
    z-index: 10;
    transform: scale(110%);
  }

  > a {
    color: $cs-text !important;
  }
}

.zoomable-parent {
  z-index: 20;
  position: relative;
}

@each $size in [200, 150, 120] {
  .zoomable-#{$size} {
    transition:
      scale 0.2s ease,
      transform 0.2s ease,
      filter 0.2s ease;

    &:hover {
      scale: $size / 100;
    }
  }
}

@keyframes acl-details {
  0% {
    opacity: 0;
    max-height: 0;
    transform: translateY(-1em);
  }

  20% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    max-height: 100em;
  }
}

// desktop
#acl {
  font-family: $font-family;
  font-size: 13px;
  cursor: url("/micro/acl/cursor-normal.gif"), auto;
  padding-bottom: 16px;

  ::selection {
    color: $cs-text;
    background: $cs-link;
  }

  a {
    color: $cs-link;
    text-decoration: none;
  }

  p,
  code {
    &:hover {
      cursor:
        url("/micro/acl/cursor-select.gif") 5 7,
        auto;
    }
  }

  a:hover {
    color: $cs-link-hover;
    cursor:
      url("/micro/acl/cursor-hover.gif") 14 0,
      auto;
  }

  code {
    color: s.$purple;
    font-family: s.$mono-font-family;
  }

  details[open] > :not(summary) {
    animation: acl-details 0.5s ease-in-out;
  }

  h2,
  h3 {
    @include acl-gradient;

    margin: 0;
    padding: 4px;
  }

  pre {
    overflow-x: auto;
  }

  hr {
    color: $cs-link;
  }

  #acl-nav {
    position: sticky;
    top: 0;
    overflow-x: auto;
    z-index: 100;
    display: flex;
    align-items: center;
    padding-left: calc((100% - 768px) / 2 + 16px);
    background-color: $cs-heading;
    color: $cs-text;
    height: $cs-nav-height;

    #acl-nav-message {
      margin-left: 4px;
    }
  }

  #acl-body {
    overflow: visible;
    background-color: $cs-fg;
    border-radius: 0 0 $cs-border-radius $cs-border-radius;

    #acl-profile-header {
      display: flex;
      flex-wrap: wrap;
      height: 220px - 16px;
      padding-top: 16px;

      #acl-pfp-info-flex {
        display: flex;
        align-items: start;
        justify-content: left;
        flex-wrap: wrap;
        margin: 0 16px;
        gap: 32px;

        #acl-pfp-container {
          max-width: 168px;
          align-items: center;
          justify-content: center;
        }

        #acl-pfp-image {
          width: 100%;
          height: 100%;
          border: 2px solid $cs-bg;
        }

        #acl-info {
          margin-top: 32px;
        }

        #acl-info-username {
          font-size: 32px;
        }

        #acl-info-bio {
          color: $cs-dark-text;
        }
      }

      #acl-extra {
        anchor-name: --extra-anchor;
        width: $cs-col-width;
        margin: auto 0 auto auto;

        > * {
          max-width: 224px;
        }

        #award-spikey {
          overflow: hidden;
          position: absolute;
          z-index: 30;
          position-anchor: --extra-anchor;
          pointer-events: none;
          position-area: x-end center;
          margin-left: -60px;

          > img {
            display: block;
            width: 100px;
            height: 100px;
            animation: rotate-360 30s linear infinite;
          }

          > text {
            display: block;
            width: 80px;
            height: 80px;
            position: relative;
            text-align: center;
            align-content: center;
            top: -90px;
            left: 10px;
            font-family: $silly-font-family;
            font-weight: 900;
            font-size: 35px;
            transform: rotate(23deg);
          }
        }

        #acl-extra-level {
          font-size: 24px;

          > * {
            padding: 2px;
          }
        }

        #acl-extra-badge {
          @include acl-gradient;

          display: grid;
          grid-template-columns: 70px auto;
          width: 100%;
          height: 70px;
          border-radius: $cs-border-radius;

          // extensions like noscript convert noscript tags into span sometimes. bleh.
          > noscript,
          > span {
            display: flex;
            align-items: center;
          }

          > img,
          > noscript > img,
          > span > img {
            width: 58px;
            height: 58px;
            border-radius: $cs-border-radius;
            margin: 6px;
          }

          > text,
          > noscript > text,
          > span > text {
            margin: auto 0;

            > h4 {
              margin: 0;
            }

            > p {
              color: $cs-dark-text;
              margin: 0;
            }
          }
        }

        #acl-extra-buttons {
          display: grid;
          grid-template-columns: auto auto;
          column-gap: 4px;
          width: 100%;
          margin-top: 8px;

          > a {
            @include acl-gradient;

            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: 24px;
            color: $cs-text;
            border-radius: $cs-border-radius;
          }
        }

        #acl-extra-rss {
          > img {
            width: 16px;
            height: 16px;
          }
        }
      }
    }

    #acl-profile-body {
      display: flex;
      flex-flow: row-reverse wrap;
      align-items: start;

      $sidebar-margin: 16px;

      #acl-profile-sidebar {
        z-index: 50;
        flex-shrink: 0;
        margin: 0 $sidebar-margin $sidebar-margin 8px;
        width: $cs-col-width - $sidebar-margin;
        position: sticky;
        top: $cs-nav-height + 20px;

        > * {
          border-radius: $cs-border-radius;
          background-color: $cs-fg2;
        }

        #acl-profile-sidebar-status {
          margin-bottom: 10px;
          font-size: 16px;
          padding: 4px;
          height: 36px - 8px;
          display: grid;
          align-items: center;
        }

        #acl-profile-sidebar-links {
          display: flex;
          flex-flow: column wrap;
          align-items: stretch;

          > h2 {
            border-radius: $cs-border-radius $cs-border-radius 0 0;
          }

          > a {
            border-radius: $cs-border-radius;
            background-color: $cs-fg;
            font-size: 20px;
            padding: 2px;
            margin: 2px;
          }
        }
      }

      #acl-profile-content {
        width: 768px - $cs-col-width - $sidebar-margin / 2;

        > p {
          margin: 8px;
        }

        > h2,
        > h3 {
          border-radius: 0 $cs-border-radius $cs-border-radius 0;
        }
      }

      #acl-profile-stamps {
        $fade-w: 15px;

        height: 56px;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow: hidden;
        flex-shrink: 0;
        margin: 2px 0;
        order: -1;
        anchor-name: --stamps-anchor;

        &::before,
        &::after {
          content: "";
          width: $fade-w;
          height: 56px;
          display: block;
          flex-shrink: 0;
          pointer-events: none;
          z-index: 20;
        }

        &::before {
          background: linear-gradient(to right, $cs-fg, transparent);
          position: absolute;
          position-anchor: --stamps-anchor;
          position-area: start left;
        }

        &::after {
          background: linear-gradient(to left, $cs-fg, transparent);
          position: absolute;
          position-anchor: --stamps-anchor;
          position-area: right;
          margin-left: -1 * $fade-w;
        }

        > span {
          transform: translateX(-100%);
          z-index: 10;
          animation: scroll-right 25s linear infinite;
          animation-direction: reverse;

          > img {
            width: 99px;
            height: 56px;
            z-index: 0;
            padding: 0 1px;
          }
        }
      }

      #acl-all-micros {
        > details {
          > summary {
            padding-top: 4px;
            font-size: 20px;
          }

          > p,
          > summary {
            margin: 0 4px;
          }

          > p:first-child {
            margin-top: 4px;
          }
        }
      }
    }

    // post
    :is(#acl-page-title, #acl-page-description, #acl-page-link) {
      margin: 0 2%;
    }

    #acl-page-content {
      margin: 0 2%;

      > h1,
      > h2,
      > h3,
      > pre {
        border-radius: $cs-border-radius;
      }

      &:first-child {
        margin-top: 0;
      }

      > img,
      > p > img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
      }
    }
  }

  #acl-badges {
    padding: 0;

    > span {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;

      > a {
        font-size: 0;
        margin: 2px;
      }
    }
  }

  #acl-body,
  #acl-badges {
    margin: 0 auto 4px;
    width: 768px;
  }

  #acl-index-bottom-spacer {
    height: $cs-ticker-font-size;
  }
}

@keyframes acl-bg-animate-tint {
  from {
    transform: scale(160%) rotate(0deg);
  }

  to {
    transform: scale(160%) rotate(360deg);
  }
}

@keyframes acl-bg-animate-grid {
  0% {
    transform: scale(160%) rotate(0deg);
  }

  100% {
    transform: scale(160%) rotate(-360deg);
  }
}

@keyframes acl-bg-animate-gridline {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(10%, 10%);
  }
}

#acl-profile-ticker {
  position: fixed;
  bottom: 0;
  font-family: $ticker-font-family;
  font-size: $cs-ticker-font-size;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 9999;
  background-color: $cs-fg2;
  overflow: hidden;
  white-space: nowrap;

  > span {
    display: inline-block;
    animation: scroll-right 60s linear infinite;

    > a {
      color: #f6c;
      margin: 0 0.5em;

      > .up {
        color: green;
      }

      > .down {
        color: red;
      }
    }
  }
}

#acl-bg-interactive {
  $sq: max(100vw, 100vh);

  z-index: -100;

  &,
  > svg {
    overflow: hidden;
    position: fixed;
    inset: 0;
  }

  > div,
  > svg,
  & {
    margin: 0;
    padding: 0;
  }

  > #acl-bg-interactive-tint {
    pointer-events: none;
    width: $sq;
    height: $sq;
    z-index: -80;
    animation: acl-bg-animate-tint 10s linear infinite;
    background: linear-gradient(to right, $cs-bg, $cs-dark-green);
    opacity: 0.5;
  }

  > #acl-bg-interactive-grid {
    width: $sq;
    height: $sq;
    animation: acl-bg-animate-grid 240s linear infinite;

    > line {
      z-index: -90;
      stroke: $cs-dark-text;
      stroke-width: 0.5px;
      opacity: 0.1;
      vector-effect: non-scaling-stroke;
      animation-name: acl-bg-animate-gridline;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
}

$desktop-width: 1250px;
$mobile-width: 768px;

// both
@media screen and ((width >= $desktop-width) or (width <= $mobile-width)) {
  #acl-profile-content {
    > h2,
    > h3 {
      border-radius: 0 !important;
    }
  }
  #acl-profile-content {
    width: unset !important;
  }
}

// desktop only additions
@media screen and (width >= $desktop-width) {
  #acl-profile-sidebar {
    position: fixed !important;
    top: 20% !important;
    bottom: 80% !important;
    right: 10px !important;
    min-width: 256px !important;
    transform: perspective(200px) rotateY(-5deg) !important;
    transform-origin: center right !important;
    transform-style: preserve-3d !important;

    > * {
      outline: 1px solid transparent !important;
    }
  }
}

// mobile
@media screen and (width <= $mobile-width) {
  #acl-pfp-info-flex {
    justify-content: center !important;
    gap: 16px !important;
  }

  #acl-info {
    margin: 0 !important;
    align-self: center !important;
  }

  #acl-pfp-container {
    align-self: center !important;
  }

  #acl-nav {
    padding: 0 !important;
    justify-content: center !important;
  }

  #acl-nav-message {
    display: none !important;
  }

  #acl-body,
  #acl-badges {
    width: 95% !important;
  }

  #acl-profile-header {
    height: auto !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 5px !important;
    gap: 16px !important;
  }

  #acl-pfp-image {
    max-width: 164px !important;
    max-height: 164px !important;
    object-fit: contain !important;
  }

  #acl-extra {
    margin: 0 !important;
  }

  #acl-profile-body {
    flex-wrap: wrap !important;
    align-items: stretch !important;
  }

  #acl-profile-sidebar {
    order: -2 !important;
    position: unset !important;
    width: 98% !important;
    margin: 4px auto !important;
  }

  #acl-profile-sidebar-status {
    margin-bottom: 4px !important;
  }

  #acl-profile-sidebar-links {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(160px, auto)) !important;
    margin: 0 !important;
    grid-auto-flow: row dense !important;

    > span {
      display: inline-block !important;
      width: auto !important;
      height: auto !important;
      margin: 2px !important;
    }

    > h2 {
      display: none !important;
    }
  }
}
