{#
shared arguments defaults and sanity checks for shortcodes
 width, height, quality, speed: ?int
 caption: string
 op, format: ?enum_str
#}

{% if not width or not height %}
  {% set_global width=1280 %}
  {% set_global height=720 %}
{% endif %}

{% if not op %}
  {% set_global op = "scale" %}
{% endif %}

{% if not format %}
  {% set_global format = "webp" %}
{% endif %}

{% if quality %}
  {% if not format == "webp" and not format == "jpg" and not format == "avif" %}
    {{ throw(message="quality specified for format that does not accept quality as argument!") }}
  {% endif %}
{% else %}
  {% set_global quality = 85 %}
{% endif %}

{% if speed %}
  {% if not format == "avif" %}
    {{ throw(message="speed specified for format that does not accept speed as argument!") }}
  {% endif %}
{% else %}
  {% set_global speed = 1 %}
{% endif %}

{% block content %}{% endblock content %}
