<!-- Flickity carousel snippet -->
<!-- images=[[path,caption],...] -->
<!-- width, height = int -->
<!-- title = string-->
<!-- op, format = enum string (see zola docs) -->
<div class="flickity-carousel-{{ nth }} flickity-carousel">
  {% if title %}
  <h3 class="flickity-title">{{ title | safe }}</h3>
  {% endif %}

  {% for arr in images %}
    {% set image = resize_image(path=arr[0], width=width, height=height, op=op, format=format, quality=85) %}
    <span class="carousel-cell">
      <img src="{{ image.url }}" />
      {% if arr[1] %}
	<p><em>{{ arr[1] }}</em></p>
      {% endif %}
  </span>
  {% endfor %}
</div>

<script>
new Flickity( document.querySelector('.flickity-carousel-{{ nth }}'), {
  adaptiveHeight: true,
  imagesLoaded: true,
  cellSelector: '.carousel-cell',
});
</script>
<br/>
