{% component micro.badge(type, name, href="", zoomable=true) -%}
{%- set p = "/micro/badges/" ~ type ~ "/" ~ name ~ ".gif" -%}

{#- assert badge exists -#}
{%- set _ = get_hash(path=p, sha_type=256) -%}

{% if href %}<a href="{{ href }}" target="_blank">{% endif -%}
  <img {% if zoomable %}class="zoomable-150"{% endif %} src="{{p}}" />
{%- if href %}</a>{% endif -%}
{%- endcomponent %}

{% component micro.badges(type, badges) -%}
<span>
  {%- for txt in badges -%}
    {%- set a = txt | split(pat="?") -%}
    {%- set b = a[0] | split(pat="|") -%}

    {%- set_global ns = false %}
    {%- set_global s = false %}

    {%- for o in a -%}
      {%- if loop.first -%}{%- continue -%}{%- endif -%}
      {% if o == "noscript" -%}
        {%- set_global ns = true -%}
      {%- elif o == "script" -%}
        {%- set_global s = true -%}
      {%- endif -%}
    {%- endfor -%}

    {%- if ns -%}<noscript>{%- elif s -%}<span class="show-on-js">{%- endif -%}
    {{- <micro.badge type={type} name={b[0]} href={b[1] or ""} /> -}}
    {%- if ns -%}</noscript>{%- elif s -%}</span>{%- endif -%}
  {%- endfor -%}
</span>
{%- endcomponent %}
