{% component micro.emoticons.img(name) -%}
{%- set allowed_icons = [
  "ashamed",
  "elated",
  "happy",
  "mischievous",
  "normal",
  "unhappy",
] -%}
{%- if not allowed_icons is containing(pat=icon | lower) %}
  {{ throw(message="Unknown emoticon: " ~ icon) }}
{% endif -%}
<img src="/micro/img/emoticons/{{ name | lower }}.gif" style="display: inline-block; margin: 0; padding: 2px;" />
{%- endcomponent %}

{% component micro.emoticons.feeling(icon, desc="") -%}
<span style="display: inline-flex; align-items: center;"><span>Feeling: {% if desc == "" %}{{ icon }}{% else %}{{ desc }}{% endif %}</span>{{ <micro.emoticons.img name={icon} /> }}
{%- endcomponent %}
