{% component micro.footer(badges=true) %}
{% if badges %}
<div id="acl-badges">
  {{ <micro.badges type="80x15" badges={[
    "main|/",
    "1024x768",
    "firefox|https://www.firefox.com/",
    "emacs|https://www.gnu.org/software/emacs/",
    "gentoo-badge2|https://www.gentoo.org/",
    "rss|/micro/item/rss.xml",
    "micro|/micro",
  ]} /> }}
  {{ <micro.badges type="88x31" badges={[
    "zola|https://getzola.org",
    "gplv3|https://www.gnu.org/licenses/gpl-3.0.en.html",
    "gnu-linux|https://www.gnu.org/distros/free-distros.html",
    "ilikecomputer",
  ]} /> }}
</div>
{% endif %}
{% endcomponent %}

