/* START defaults */
body, html {
    background-color: #cfcfcf;
    height: 100%;
    margin: 2px;
    padding: 2px;
    font-family: monospace;
    scroll-behavior: smooth;
}

div {
    border-radius: 5px;
    background-color: #ffffff;
    margin-top: 10px;
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
    padding: 40px;
}

details {
    transition: 0.2s;
}

code {
    background-color: #0000001F;
    white-space: pre;
}
/* END defaults */

/* START fonts */
.big-font {
    font-size: 400%;
}

.subtitle-font, contentformat div h1 {
    font-size: 250%;
}

.medium-font, contentformat div text, contentformat div p {
    font-size: 150%;
}

.small-font {
    font-size: 100%;
}
/* END fonts */

/* START items */
.content-block {
    padding-bottom: 0px;
}

.logolist {
    color: #000000;
    text-decoration: none;
    text-align: center;
}
/* END items */

/* START tiling */
.maingrid {
    display: grid;
    grid-template-columns: 15% auto;
    background-color: #00000000;
    padding: 0px;
}

.tilegrid {
    align-items: center;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-row: auto;
    background-color: #00000000;
}

.tile {
    margin: auto;
    width: 90%;
    padding-top: 5%;
}

.tileimg:hover {
    width: 100%;
    padding: 0%;
}

.tileimg {
    transition: 0.2s;
    width: 90%;
    padding: 5%;
}

.tiletext {
    text-align: center;
    padding-right: 10%;
    overflow: hidden;
    white-space: nowrap;
}

.aboutgrid {
    text-align: center;
    display: grid;
    grid-template-columns: 12% 12% 12% 12% 12% auto;
    column-gap: 4%
}

.aboutgrid img {
    max-height: 100px;
    padding: 15%;
}
/* END tiling */

/* START posts listing */
.list {
    align-items: left;
    display: grid;
    grid-template-columns: 100%;
    grid-row: auto;
    background-color: #00000000;
}

.list-item {

}
/* END posts listing */

/* START span collapse */
.collapse-parent {}

.collapse-child {
    width: 10px;
    transition: 0.2s;
    display: inline-block;
}

.collapse-parent:hover span {
    width: 0px;
    display: inline-block;
}
/* END span collapse */

/* START sidebar */
.sidebar {
    border-radius: 5px;
    top: auto;
    left: auto;
    list-style-type: none;
    padding: 0px;
    width: 13%;
    background-color: #fff;
    border-color: #000;
    border-style: solid;
    border-width: 2px;
}

.sidebar-entry {
    font-family: monospace;
    font-size: 150%;
    display: block;
    color: #000;
    padding: 10px 10px;
    text-decoration: none;
}

.sidebar-entry:hover {
    background-color: #cfcfcf;
    color: #000;
}

.footer {
    border-radius: 5px;
    height: auto;
    bottom: 8px;
    left: auto;
    right: auto;
    list-style-type: none;
    padding: 3px;
    width: 12.65%;
    background-color: #ffffff;
    border-color: #000;
    border-style: solid;
    border-width: 2px;
}
/* END sidebar */

/* START smaller custom elements */
tag {
    border-radius: 5px;
    background-color: #f4f4f4;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    margin: 2px;
    padding: 2px;
}
/* END smaller custom elements */

/* START desktop sidebar entry expansion */
.sidebarbutton {
    display: block;
}

.sidebarentry {
    height: 0px;
    transition: 0.5s;
}

.sidebarbutton:hover .sidebarentry {
    display: block;
    height: 40px;
}

.sidebarentrytext {
    transition: 0.5s;
    color: #FFFFFF00
}

.sidebarbutton:hover .sidebarentrytext {
    color: #000000FF;
}
/* END desktop sidebar entry expansion */

/* START modifiers */
.rotate-90 {
    position: relative;
    transform: rotate(-180deg);
    display: inline-block;
}

.fixed {
    position: fixed;
}

.nodecorate {
    color: #000;
    text-decoration: none;
}

ol li a {
    color: #000;
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

.nobmargin {
    margin-bottom: 0px;
}

/* END modifiers */

/* START mobile scaling */
.hidemobile {
    display: block;
}

.showmobile {
    display: none;
}

@media screen and (max-width: 900px) {
    .hidemobile {
        display: none;
    }
    .showmobile {
        display: block;
    }
    .maingrid {
        grid-template-columns: 100%;
    }
    .fourgrid {
        grid-template-columns: auto auto;
    }
    .aboutgrid {
        grid-template-columns: auto auto auto auto auto;
        column-gap: 3%
    }
    .prevgrid {
        grid-template-columns: 50% 50%;
    }
    .tilegrid {
        grid-template-columns: 50% 50%;
        grid-row: auto auto;
    }
    .aboutgrid {
        grid-template-columns: auto auto auto auto auto;
        column-gap: 3%
    }
}

@media screen and (max-width: 750px) {
    .big-font {
        font-size: 5vw;
        font-weight: bold;
    }
    .subtitle-font, contentformat div h1 {
        font-size: 3.5vw;
    }
    .medium-font, contentformat div text, contentformat div p {
        font-size: 2.75vw;
    }
    .small-font {
        font-size: 2.25vw;
    }
    .list-item {
        grid-template-columns: auto;
    }
    .list-item img {
        display: none;
    }
}

.mobilenav {
    text-decoration: none;
    color: #000;
    background-color: #00000000;
    padding: 5px;
}

.mobilenav:hover {
    background-color: #0F0F0F0F;
}

.fob {
    text-align: center;
    position: fixed;
    padding: 10px 5px 10px 5px;
    bottom: 0%;
    right: 5%;
}
/* END mobile scaling */

/* START content formatting */
contentformat div {}
contentformat div h1 { /* inherits from subtitle-font */ }
contentformat div text { /* inherits from medium-font */ }
contentformat div p { /* inherits from medium-font */ }
contentformat div blockquote {}
contentformat div ul {}
contentformat div ol {}
contentformat div li {}
contentformat div code {}


contentformat div toc ul li a {
    /* table of contents */
    color: #000;
    text-decoration: none;
}
contentformat div toc {
    /* table of contents */
    font-size: 3vw;
}
/* END content formatting */
