/* START DEFAULTS */
:root {
  --golden-ratio: 1.618033988749895;

  --font-family: monospace;
  --default-font-scale: 1em;
  --font-size: calc(var(--default-font-scale) * pow(var(--golden-ratio), 0.5));

  --bg-color: #d3d3d3;
  --fg-color: #add8e6;
  --border-color: #00000015;
  --border-radius: 5px;
  --border-width: 5px;
  --border-style: solid;

  --accent-color: #ffec8b;
  --accent-border: #fafad2;

  --highlight-color: red;
  --selection-color: #bbffbb;

  --default-margin: 5px;
  --default-padding: 10px;
  --content-side-margin: 15vw;

  --text-color: #101010;

  --tint-color: #00000035;

  background-color: var(--bg-color);
  font-family: var(--font-family);
  scroll-behavior: smooth;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

body {
  padding-bottom: calc(var(--font-size) * 3);
}

h1,
h2 {
  margin: var(--default-margin);
}

div {
  border-radius: var(--border-radius);
  background-color: var(--fg-color);
  margin: var(--default-margin) calc(var(--default-margin) + var(--content-side-margin));
  border-color: var(--border-color);
  border-style: var(--border-style);
  border-width: var(--border-width);
  padding: var(--default-padding);
}

code {
  white-space: pre;
  display: inline;
  overflow: scroll;
  overflow-block: scroll;
  /* hide scrollbar in code blocks */
  -ms-overflow-style: none; /* IE & Edge (Legacy) */
  scrollbar-width: none; /* Firefox */
  background-color: var(--tint-color);
}

details {
  transition: 0.2s;
}

/* hide scrollbar in code blocks (Chrome & Safari) */
code::-webkit-scrollbar {
  display: none;
}
/* END defaults */

/* START fonts */
.huge-font {
  --font-size: calc(var(--default-font-scale) * pow(var(--golden-ratio), 3));
  font-size: var(--font-size);
}

.large-font,
h1 {
  --font-size: calc(var(--default-font-scale) * pow(var(--golden-ratio), 2));
  font-size: var(--font-size);
}

.medium-large-font,
h2 {
  --font-size: calc(var(--default-font-scale) * pow(var(--golden-ratio), 1));
  font-size: var(--font-size);
}

.medium-font,
p,
text,
li,
h3 {
  --font-size: calc(var(--default-font-scale) * pow(var(--golden-ratio), 0.5));
  font-size: var(--font-size);
}

.small-font {
  --font-size: calc(var(--default-font-scale) * pow(var(--golden-ratio), 0.2));
  font-size: var(--font-size);
}
/* END fonts */

/* START modifiers */
.rotate-180 {
  position: relative;
  transform: rotate(-180deg);
  display: inline-block;
}

.nodecorate {
  color: var(--text-color);
  text-decoration: none;
}

.hoverable {
  border-color: transparent;
  border-style: var(--border-style);
}

.hoverable:hover {
  border-color: var(--tint-color);
}
/* END modifiers */

/* START media queries */
/* START phone sized */
@media only screen and (max-width: 1280px) {
  :root {
    --content-side-margin: 0px;
  }
}
@media only screen and (max-width: 800px) {
  /* START mobile fonts */
  .huge-font {
    --font-size: calc(
      var(--default-font-scale) * pow(var(--golden-ratio), 1.5)
    );
    font-size: var(--font-size);
  }

  .large-font,
  h1 {
    --font-size: calc(
      var(--default-font-scale) * pow(var(--golden-ratio), 1)
    );
    font-size: var(--font-size);
  }

  .medium-large-font,
  h2 {
    --font-size: calc(var(--default-font-scale) * pow(var(--golden-ratio), 0.5));
    font-size: var(--font-size);
  }

  .medium-font,
  p,
  text,
  li,
  h3 {
    --font-size: calc(
      var(--default-font-scale) * pow(var(--golden-ratio), 0)
    );
    font-size: var(--font-size);
  }

  .small-font {
    --font-size: calc(
      var(--default-font-scale) * pow(var(--golden-ratio), -0.5)
    );
    font-size: var(--font-size);
  }
  /* END mobile fonts */
}
/* END phone size */

/* START tiny sized */
@media only screen and (max-width: 450px) {
  /* START tiny fonts */
  .huge-font {
    --font-size: calc(
      var(--default-font-scale) * pow(var(--golden-ratio), 1)
    );
    font-size: var(--font-size);
  }

  .large-font,
  h1 {
    --font-size: calc(var(--default-font-scale) * pow(var(--golden-ratio), 0.75));
    font-size: var(--font-size);
  }

  .medium-large-font,
  h2 {
    --font-size: calc(
      var(--default-font-scale) * pow(var(--golden-ratio), 0.5)
    );
    font-size: var(--font-size);
  }

  .medium-font,
  p,
  text,
  li,
  h3 {
    --font-size: calc(
      var(--default-font-scale) * pow(var(--golden-ratio), 0)
    );
    font-size: var(--font-size);
  }

  .small-font {
    --font-size: calc(
      var(--default-font-scale) * pow(var(--golden-ratio), -0.5)
    );
    font-size: var(--font-size);
  }
  /* END tiny fonts */
}
/* END tiny size */
/* END media queries */
