// light-blue theme from emacs
@use "named-colors" as *;

$default-background: $light-blue;
$default-foreground: $black;
$cursor-background: $red;
$fringe-background: $gray85;
$highlight-background: $cyan;
$region-background: $medium-aquamarine;
$secondary-selection-background: $white;
$secondary-selection-foreground: $black;
$isearch-background: $green;
$isearch-foreground: $black;
$lazy-highlight-background: $dark-turquoise;
$query-replace-background: $white;
$query-replace-foreground: $black;
$match-background: $sky-blue;
$mode-line-background: $pale-goldenrod;
$mode-line-foreground: $black;
$mode-line-buffer-id-overline: $red;
$mode-line-buffer-id-underline: $red;
$mode-line-inactive-background: $light-gray;
$mode-line-inactive-foreground: $gray20;
$mode-line-inactive-box-color: $gray75;
$escape-glyph-background: $gold;
$escape-glyph-foreground: $blue;
$homoglyph-background: $gold;
$homoglyph-foreground: $blue;
$font-lock-builtin-face-foreground: #b35caf;
$font-lock-constant-face-foreground: #006D6D;
$font-lock-function-name-face-foreground: $red;
$font-lock-keyword-face-foreground: $blue3;
$font-lock-string-face-foreground: $magenta4;
$font-lock-warning-face-foreground: $orange-red;
$next-error-background: $sky-blue;
