{#- <!doctype html> -#}
<html>{#- -#}
  <body>{#- -#}
    <style>{#- -#}
      *{:hover{color:#ddd!important}font-family:monospace;background-color:#123;color:#abc;text-decoration:none}{#- -#}
      h1>a{color:#faf}{#- -#}
      body{height:100%;margin:0}{#- -#}
      f{display:flex;align-items:center;justify-content:center;height:100%;margin:auto}{#- -#}
      #a{display:none;position:fixed;color:#777}{#- -#}
    </style>{#- -#}
    <a id=a href=https://1kb.club>&lt;100kb</a>{#- -#}
    <f>{#- -#}
      <h1><a href=mailto:me@theokrueger.dev>theokrueger</a></h1>{#- -#}
      <ul>{#- -#}
	<li><a href=/posts>blog</a></li>{#- -#}
	<li><a href=/micro>thoughts</a></li>{#- -#}
	<li><a href=https://github.com/theokrueger>git</a></li>{#- -#}
     </ul>{#- -#}
    </f>{#- -#}
    <script type=module>{#- -#}
      {#- move the element across the screen -#}
      {#-  -#}
      let M=Math,P=M.PI,Q=P/2,R=_=>(M.random()-.5)*P,S=M.sin,C=M.cos,H=100,{#- math -#}
        s=a.style,r=a.getBoundingClientRect.bind(a),{#- callable -#}
        x=0,y=0,t,{#- loop vars -#}
        h=R();{#- heading in rad -#}
      s.display='block';{#- -#}
      for(;;){ {#- -#}
        await new Promise(r=>setTimeout(r,9));{#- -#}
        t=r();{#- -#}
        h=x>H?R()+Q*3:y>H?R()+Q*2:x<0?R():y<0?R()+Q:h;
        x=x+S(h)/3;{#- -#}
        y=y+C(h)/3;{#- -#}
        s.top=y+'%';{#- -#}
        s.left=x+'%';{#- -#}
        {#- -#}
      }{#- -#}
    </script>{#- -#}
  </body>{#- -#}
</html>{#- -#}
