<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% ifdef DESCRIPTION %}{{ DESCRIPTION }}{% else %}{{ SITE_DESCRIPTION }}{% endif %}">
    {% block entry %}
    <title> {% ifdef TITLE %}{{ TITLE }}{% else %}{{ SITE_TITLE }}{% endif %} </title>
    {% endblock %}
    {% block listing_once %}
    <!-- duplication required due to blogc stupididty (or maybe its just me probably) -->
    <title> {{ SITE_TITLE }}/blog </title>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ BASE_URL }}/assets/style.css">
    <script type="text/javascript" src="{{ BASE_URL }}/assets/all.js" async></script>
    <link href="{{ BASE_URL }}/atom.xml" rel="alternate" type="application/atom+xml" title="{{ SITE_TITLE }}" />
  </head>
  <body>
    <span class="maingrid">

      <!-- START desktop sidebar -->
      <span class="hidemobile">
        <!-- sidebar buttons -->
        <ul class="sidebar fixed">

          <!-- home -->
          <li class="sidebarbutton">
            <a href="/index.html" class="sidebar-entry">
              {% if MAKE_SLUG == "index" %}>{% endif %} home
            </a>
          </li>

          <!-- blog -->
          <li class="sidebarbutton">
            <a href="/blog/index.html" class="sidebar-entry">
              {% if MAKE_TYPE == "post" %}>{% endif %} blog
            </a>
            <ul class="sidebarentry"><a href="/blog/index.html" class="sidebar-entry small-font sidebarentrytext">
                posts
            </a></ul>
            <ul class="sidebarentry"><a href="/blog/index.html" class="sidebar-entry small-font sidebarentrytext">
                tags
            </a></ul>
          </li>

          <!-- about -->
          <li class="sidebarbutton">
            <a href="/about/index.html" class="sidebar-entry">
              {% if MAKE_SLUG == "about" %}>{% endif %} about
            </a>
          </li>

        </ul>

        <!-- sidebar footer -->
        <span class="footer fixed">
          <text class="small-font"><span class="rotate-90" style="font-size: 115%;">©</span><a href="mailto:{{ AUTHOR_EMAIL }}" class="nodecorate">theokrueger</a></text>
          <br/>
          <text class="small-font">
            <a href="https://gitlab.com/theokrueger/website" class="nodecorate">
              view source
            </a>
          </text>
        </span>

      </span>
      <!-- END desktop sidebar -->

      <!-- START page content -->
      <span>
        <!-- mobile navbar -->
        <div class="showmobile fob" align="center">
          <a href="/index.html" class="mobilenav" {% if MAKE_SLUG == "index" %} style="font-weight: bold" {% endif %}>home</a>
          <a href="/blog/index.html" class="mobilenav"{% if MAKE_TYPE == "post" %} style="font-weight: bold" {% endif %}>blog</a>
          <a href="/about/index.html" class="mobilenav"{% if MAKE_SLUG == "about" %} style="font-weight: bold" {% endif %}>about</a>
        </div>

        <span id="top"></span>
        {% block entry %}
        <!-- START header block -->
        <div>
          <span style="display: grid; grid-template-columns: auto 5%;">
            <text class="big-font">
              {% ifdef TITLE %}{{ TITLE }}{% else %}{{ SITE_TITLE }}{% endif %}
            </text>
            <a href="/atom.xml" class="nodecorate"><img src="/assets/img/rss.svg" style="max-width: 24px; margin-left: auto; float: right;"></a>
          </span>
          <!-- below may be changed by js -->
          <p class="subtitle-font nobmargin" style="text-align: right;" {% ifndef SUBTITLE %} id="main-subtitle" {% endif %} {% ifdef IS_ABOUT %} id="about-subtitle" {% endif %}>
            {% ifdef SUBTITLE  %} {{ SUBTITLE }} {% else %} no blog needs javascript {% endif %}
          </p>
        </div>
        <!-- END header block -->
        {% endblock %}

        {% block listing_once %}
        <!-- START post stuff -->

        <div>
          <!-- duplicate here because you cant nest ifdefs -->
          <span style="display: grid; grid-template-columns: auto 5%;">
            <text class="big-font">
              {{ SITE_TITLE }}/blog
            </text>
            <a href="/atom.xml" class="nodecorate"><img src="/assets/img/rss.svg" style="max-width: 24px; margin-left: auto; float: right;"></a>
          </span>
          <p class="subtitle-font nobmargin" style="text-align: right;">
            all posts listing
          </p>

        </div>

        <div>
          <span class="list">
        {% endblock %}

        {% block listing %}
        <a href="{{ BASE_URL }}/blog/{{ FILENAME }}/" class="list-item nodecorate">
          {% ifdef THUMBNAIL %}
          <img src="{{ THUMBNAIL }}">
          {% endif %}
          {% ifndef THUMBNAIL %}
          <img src="/assets/img/about/matrix.svg">
          {% endif %}

          <span>
            <text class="subtitle-font underline">{{ TITLE }}</text>
            <br/>
            <p class="medium-font">
              {{ SUMMARY }}
            </p>
            <p class="small-font">
              {% ifdef DATE %}Published: {{ DATE_FORMATTED }} {% ifdef DATE_UPDATED %}<br/> Updated: {{ DATE_UPDATED_FORMATTED }} {% endif %}{% endif %}
            </p>
            <p class="small-font">
              {{ DESCRIPTION }}
            </p>
            <p style="text-align: right;" class="small-font collapse-parent">
              read more --><span class="collapse-child"></span>
            </p>
          </span>
        </a>
        <hr style="padding: 12px; width: 100%;border: 0;border-top: 1px dashed grey;">
        {% endblock %}

        {% block listing_once %}
          </span>
        <a href="#top" class="nodecorate medium-font"><p style="text-align: center; margin: 0;margin-top: 3px;"> back to top </p></a>
        </div>
        <!-- END poststuff -->
        {% endblock %}

        {% block entry %}
        <!-- START single entry stuff -->

        {% ifdef CONTENT %}
        <contentformat>
          <div>
            {{ CONTENT }}
          </div>
        </contentformat>
        {% endif %}


        <!-- END single entry stuff -->
        {% endblock %}

        {% block listing_once %}
        <!-- START pagination -->
        <div style="padding: 0px;">
          <p style="text-align: center;" class="medium-font">
            {% if FIRST_PAGE < PREVIOUS_PAGE %}<a class="nodecorate" href="{{ BASE_URL }}/blog/page/{{ FIRST_PAGE }}" style="text-align: left; padding: 1.5%;"> [<< </a> {% endif %}

            {% ifdef PREVIOUS_PAGE %}<a href="{{ BASE_URL }}/blog/page/{{ PREVIOUS_PAGE }}" class="nodecorate" style="text-align: left; padding: 1.5%;"> <-- </a> {% endif %}
            <text> page {{ CURRENT_PAGE }} of {{ LAST_PAGE }} </text>
            {% ifdef NEXT_PAGE %}<a href="{{ BASE_URL }}/blog/page/{{ NEXT_PAGE }}" class="nodecorate" style="text-align: right; padding: 1.5%;"> --> </a> {% endif %}

            {% if LAST_PAGE > NEXT_PAGE %}<a class="nodecorate" href="{{ BASE_URL }}/blog/page/{{ LAST_PAGE }}" style="text-align: right; padding: 1.5%;"> >>] </a> {% endif %}
          </p>
        </div>
        <!-- END pagination -->
        {% endblock %}

      </span>
      <!-- END page content -->

      <!-- mobile spacer -->
      <p class="showmobile small-font">
        <span class="rotate-90" style="font-size: 1.5vw;">©</span><a href="mailto:{{ AUTHOR_EMAIL }}" class="nodecorate">theokrueger </a>
        <br/>
        <a href="{{ SITE_SOURCE }}" class="nodecorate">view source</a>
      </p>

      <!-- desktop spacer -->
      <pre class="hidemobile"/>

    </span>
    <!-- END main grid -->
  </body>
</html>
