<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA_Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="theokrueger" />
    <title>theokrueger.dev</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="alternate" type="application/atom+xml" href="{{ config.base_url }}/atom.xml" />
    <link rel="alternate" type="application/rss+xml" href="{{ config.base_url }}/rss.xml" />
    <script type="module" src="/script.js" defer></script>
    <!-- external modules -->
    {% if page.extra.extern.slideshow or section.extra.extern.slideshow %}
    <link rel="stylesheet" href="/flickity/flickity.css" media="screen">
    <script src="/flickity/flickity.pkgd.js"></script>
    {% endif %}
  </head>

  <body>
    {% block content %}{% endblock content %}
  </body>
</html>
