{% component body.rss_link(base) %}
  <link rel="alternate" type="application/atom+xml" href="/{{ base }}/atom.xml" />
  <link rel="alternate" type="application/rss+xml" href="/{{ base }}/rss.xml" />
{% endcomponent body.rss_link %}

{# this body shared by /posts/ and index and 404. main theme for the site basically #}
{% component body.base(slideshow=false) %}
  <script type="module" src="/script.js" defer></script>
  <link rel="stylesheet" type="text/css" href="/style.css" />

  {{ <body.rss_link base="posts" /> }}

  <!-- external modules -->
  {% if slideshow %}
  <link rel="stylesheet" href="/flickity/flickity.css" media="screen" />
  <link rel="stylesheet" href="/flickity.css" media="screen" />

  <script src="/flickity/flickity.pkgd.js"></script>
  {% endif %}
{% endcomponent body.base %}


{% component body.micro() %}
  {# this body exclusive to /micro/ #}

  <script type="module" src="/micro/mod.js" defer></script>
  <link rel="stylesheet" type="text/css" href="/micro/index.css" />

  {{ <body.rss_link base="micro" />}}
{% endcomponent body.micro %}
