{#
Currency formatting. Must be one line due to spacing of adjacent chars (lol).
Defaults to $USD 
  n: float/string/int
  code: enum
  symbol: ?string
  shortcode: ?string
  prefix: ?bool
#}
{% component currency(n, code="USD", symbol="$", shortcode="USD", prefix=true) %}{#--#}{#
#}{% if code == "USD" %}{#
  #}{% set_global symbol = "$" %}{#
  #}{% set_global shortcode = "USD" %}{#
  #}{% set_global prefix = true %}{#
#}{% else %}{#
  #}{{ throw(message="preset enum specified but has no match!") }}{#
#}{% endif %}{#
#}{% if symbol and prefix %}{#
  #}{{ symbol }}{#
#}{% endif %}{#
  #}{{ n }}{#
#}{% if shortcode or (not prefix and symbol) %}{#
  #}<span style="font-size: 0.75em;">{#
    #}{% if not prefix and symbol %}{#
      #}{{ symbol }}{#
    #}{% endif %}{#
    #}{% if shortcode %}{#
      #}{{ shortcode }}{#
    #}{% endif %}{#
  #}</span>{#
#}{% endif %}{#
#}{#--#}{% endcomponent currency %}
