{% macro new(name) %}
<div id="footer">
  <span>U:%%@</span>
  <span id="nav">
    <!-- clickable btn -->
    <label id="nav-toggler-label" for="nav-toggler-button" class="hoverable" tabindex="0">
      {% if name %}{{ name }}{% else %}Scratch{% endif %} ^
    </label>
    <input id="nav-toggler-button" type="checkbox" autocomplete="off"/>

    <!-- navlist -->
    <span id="nav-menu">
      <ul>
	<!-- zola internal linking does not work outside of MD -->
	<li><a href="{{ config.base_url }}">home</a></li>
	<li><a href="{{ config.base_url }}/posts">posts</a></li>
	<li><a href="{{ config.base_url }}/portfolio">portfolio</a></li>
      </ul>
    </span>
  </span>
  <!-- return to top button -->
  <a id="nav-scroll-progress" href="#title" class="hoverable">top</a>
</div>
<!-- bottom spacing -->
<p id="footer-bottom-text">
  <a href="mailto:{{ config.extra.contact | safe }}"><t class="rotate-180">©</t>theokrueger</a> | <a href="{{ config.extra.source | safe}}" target="_blank">view source</a>
</p>
<div id="footer-bottom-spacer"></div>
{% endmacro new %}
