{#
Create a table from raw text
  heading: bool
  zebra: bool
#}
{% component table(heading, zebra) %}
{#
Table format is as follows (strict, not including graves):
```
| Heading | a |
|---------|---|
| Item    | b |
```
#}
{% set_global td = "td" %}
{% if heading %}
  {% set_global td = "th" %}
{% endif %}
<div style="width: 100%; overflow-x: auto;">
<table style="border-collapse: collapse;" align="center" {% if zebra %} class="zebra-table" {% endif %}>
<tbody>
{% for row in body | trim | trim(pat="\n") | split(pat="\n") %}
{% if not row or row | trim == "" %}
  {% continue %}
{% endif %}
<tr>
{% for col in row | trim | trim(pat="|") | split(pat="|") %}
{% if not col %}
{% continue %}
{% endif %}
<{{ td }}>
{{ col | trim | safe }}
</{{ td }}>
{% endfor %}
</tr>
{% set_global td = "td" %}
{% endfor %}
</tbody>
</table>
</div>
{% endcomponent table %}
