{% component temperature(n, unit) %}
{#- -#}{#
Currency formatting. Must be one line due to spacing of adjacent chars (lol).
Defaults to °C
  n: float/string/int
  unit: ?enum
#}{#
#}{% if not unit %}{% set_global unit = "C" %}{% endif %}{#
#}{% if unit != "C" and unit != "K" and unit != "F" %}{{ throw(message="invalid unit!!!") }}{% endif %}{#
#}{% if unit == "K" %}{% set_global unit = "C" %}{#
  #}{{ n }}{{ unit }}{#
#}{% else %}{#
  #}{{ n }}°{{ unit }}{#
#}{% endif %}{#
#}{#- -#}
{% endcomponent temperature %}
