{% component title(title, subtitle, subsubtitle, flavor_id, show_rss) %}
<div id="title">
  {% if show_rss %}
  <a id="rss-button" href="/posts/atom.xml"><img id="rss-button-img" src="/img/rss.svg"/></a>
  {% endif %}
  <span>
    {% if title %}
    <!-- noscript title -->
    <noscript>
      <h1 id="title-title">
	<a href="/" id="title-text" rel="self">{{ title | safe }}<span id="title-cursor">&block;</span></a>
      </h1>
      <style>
        .title-script {
          display: none;
        }
      </style>
    </noscript>
    <!-- script title -->
    <h1 id="title-title" class="title-script">
      <a href="/" id="title-text" class="js-element" rel="self">{{ title | safe }}<span id="title-cursor" class="js-element">&block;</span></a>
    </h1>
    {% endif %}

    {% if subtitle %}
    <h2 id="subtitle">{{ subtitle | safe }}</h2>
    {% endif %}

    <h3 id="flavor-text">
      <span {% if flavor_id %}id="{{ flavor_id }}"{% endif %}>
	{% if subsubtitle %}{{ subsubtitle | safe }}{% else %}<span style="color: transparent;">secret text :)</span>{% endif %}
      </span>
    </h3>
  </span>
</div>
{% endcomponent title %}
