{% macro new(title, subtitle, subsubtitle, flavor_id) %}
<div id="title">
  <span>
    {% if title %}
    <span id="title-title">
      <a href="{{ config.base_url }}" id="title-text">{{ title | safe }}</a><span id="title-cursor">&block;</span>
    </span>
    {% endif %}

    {% if subtitle %}
    <br/>
    <span id="subtitle">{{ subtitle | safe }}</span>
    {% endif %}

    <br/>
    <p {% if flavor_id %}id="{{ flavor_id }}"{% endif %} class="flavor-text">
      {% if subsubtitle %}{{ subsubtitle | safe }}{% else %}<span style="color: transparent;">secret text :)</span>{% endif %}
    </p>
  </span>
</div>
{% endmacro new %}
